---
title: "CRA Test Form"
language: "en"
altLangPage: cra-form.html
tag: "fieldflow"
parentdir: "fieldflow"
dateModified: "2023-12-01"
---

<div class="row">
  <div class="col-sm-8">
    <p>Complete and submit the following web form to request a pre-claim approval case number from the Canada Revenue
      Agency (CRA).</p>

    <h2>Complete the web form</h2>
    <details>
      <summary>Privacy notice</summary>
      <p>Under the <a href="https://laws-lois.justice.gc.ca/eng/acts/P-21/FullText.html">Privacy Act</a>, individuals
        have a right of protection, access to and correction of their personal information and to file a complaint with
        the Privacy Commissioner of Canada regarding our handling of their personal information. Personal information is
        collected pursuant to subsections 37(1), 37(11), and 162(5.1) of the Income Tax Act and is used for the
        administration of the Scientific Research and Experimental Development (SR&amp;ED) program requirements.
        Information may also be used to inform the provision of services by the SR&amp;ED Program. For more detail,
        refer to Personal Information Bank CRA PPU 441 in the Canada Revenue Agency (CRA) <a
          href="/content/canadasite/en/revenue-agency/corporate/about-canada-revenue-agency-cra/access-information-privacy-canada-revenue-agency/info-source-appendix.html#441">Information
          about Programs and Information Holdings - Personal Information Banks - Canada.ca</a>.</p>
    </details>



    <div class="wb-frmvld">
      <div class="wb-fieldflow">
        <p>Select a province or territory</p>
        <ul>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#ab", "live": true}'>Alberta</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#bc", "live": true}'>British Columbia</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#ma", "live": true}'>Manitoba</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#nb", "live": true}'>New Brunswick</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#nl", "live": true}'>Newfoundland and Labrador</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#nt", "live": true}'>Northwest Territories</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#ns", "live": true}'>Nova Scotia</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#nu", "live": true}'>Nunavut</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#on", "live": true}'>Ontario</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#pei", "live": true}'>Prince Edward Island</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#qc", "live": true}'>Quebec</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#sa", "live": true}'>Saskatchewan</li>
          <li data-wb-fieldflow='{"action": "toggle", "toggle": "#yu", "live": true}'>Yukon</li>
        </ul>
      </div>

      <!--Alberta-->

      <div id="ab" class="wb-frmvld hidden">

        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.al-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplate" name="emailTemplate" type="hidden" value="test-en/test-en/a-en"> <input
              type="hidden" name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Alberta">

            <div class="form-group"><label for="al-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="al-firstname" name="al-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="al-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="al-lastname" name="al-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="al-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="al-tel1" name="al-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="al-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="al-businessname" name="al-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="al-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="al-businessnumber" name="al-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="al-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="al-contact" name="al-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg al-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>



      <!--British Columbia-->

      <div id="bc" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.bc-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="test-en/test-en/b-en"> <input
              type="hidden" name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - British Columbia">

            <div class="form-group"><label for="bc-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="bc-firstname" name="bc-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="bc-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="bc-lastname" name="bc-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="bc-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="bc-tel1" name="bc-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="bc-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="bc-businessname" name="bc-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="bc-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="bc-businessnumber" name="bc-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="bc-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="bc-contact" name="bc-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg bc-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>
      </div>

      <!--Manitoba-->

      <div id="ma" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.ma-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/ma-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Manitoba">

            <div class="form-group"><label for="ma-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="ma-firstname" name="ma-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="ma-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="ma-lastname" name="ma-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="ma-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="ma-tel1" name="ma-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="ma-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="ma-businessname" name="ma-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="ma-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="ma-businessnumber" name="ma-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="ma-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="ma-contact" name="ma-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg ma-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--New Brunswick-->

      <div id="nb" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.nb-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/nb-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - New Brunswick">

            <div class="form-group"><label for="nb-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nb-firstname" name="nb-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nb-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nb-lastname" name="nb-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nb-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="nb-tel1" name="nb-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="nb-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="nb-businessname" name="nb-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="nb-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="nb-businessnumber" name="nb-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="nb-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="nb-contact" name="nb-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg nb-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Newfoundland and Labrador-->

      <div id="nl" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.nl-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/nl-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Newfoundland and Labrador">

            <div class="form-group"><label for="nl-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nl-firstname" name="nl-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nl-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nl-lastname" name="nl-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nl-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="nl-tel1" name="nl-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="nl-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="nl-businessname" name="nl-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="nl-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="nl-businessnumber" name="nl-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="nl-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="nl-contact" name="nl-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg nl-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Northwest Territories-->

      <div id="nt" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.nt-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/nt-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Northwest Territories">

            <div class="form-group"><label for="nt-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nt-firstname" name="nt-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nt-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nt-lastname" name="nt-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nt-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="nt-tel1" name="nt-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="nt-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="nt-businessname" name="nt-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="nt-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="nt-businessnumber" name="nt-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="nt-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="nt-contact" name="nt-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg nt-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Nova Scotia-->

      <div id="ns" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.ns-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/ns-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Nova Scotia">

            <div class="form-group"><label for="ns-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="ns-firstname" name="ns-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="ns-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="ns-lastname" name="ns-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="ns-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="ns-tel1" name="ns-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="ns-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="ns-businessname" name="ns-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="ns-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="ns-businessnumber" name="ns-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="ns-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="ns-contact" name="ns-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg ns-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Nunavut-->

      <div id="nu" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.nu-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/nu-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Nunavut">

            <div class="form-group"><label for="nu-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nu-firstname" name="nu-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nu-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="nu-lastname" name="nu-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="nu-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="nu-tel1" name="nu-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="nu-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="nu-businessname" name="nu-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="nu-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="nu-businessnumber" name="nu-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="nu-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="nu-contact" name="nu-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg nu-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Ontario-->

      <div id="on" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.on-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/on-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Ontario">

            <div class="form-group"><label for="on-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="on-firstname" name="on-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="on-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="on-lastname" name="on-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="on-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="on-tel1" name="on-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="on-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="on-businessname" name="on-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="on-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="on-businessnumber" name="on-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="on-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="on-contact" name="on-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg on-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Prince Edward Island-->

      <div id="pei" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.pei-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/pei-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Prince Edward Island">

            <div class="form-group"><label for="pei-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="pei-firstname" name="pei-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="pei-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="pei-lastname" name="pei-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="pei-tel1" class="required"><span class="field-name">Phone number and
                  area code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="pei-tel1" name="pei-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="pei-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="pei-businessname" name="pei-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="pei-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="pei-businessnumber" name="pei-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="pei-contact" class="required"><span class="field-name">Do you want the CRA to phone the
                  contact named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="pei-contact" name="pei-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg pei-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Quebec-->

      <div id="qc" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.qc-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/qc-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Quebec">

            <div class="form-group"><label for="qc-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="qc-firstname" name="qc-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="qc-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="qc-lastname" name="qc-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="qc-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="qc-tel1" name="qc-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="qc-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="qc-businessname" name="qc-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="qc-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="qc-businessnumber" name="qc-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="qc-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="qc-contact" name="qc-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg qc-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Saskatchewan-->

      <div id="sa" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.sa-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/sa-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Saskatchewan">

            <div class="form-group"><label for="sa-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="sa-firstname" name="sa-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="sa-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="sa-lastname" name="sa-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="sa-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="sa-tel1" name="sa-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="sa-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="sa-businessname" name="sa-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="sa-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="sa-businessnumber" name="sa-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="sa-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="sa-contact" name="sa-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg sa-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>

      <!--Yukon-->

      <div id="yu" class="wb-frmvld hidden">
        <form action="/gc/services/generateemail" method="post" class="wb-postback"
          data-wb-postback="{&quot;success&quot;:&quot;.yu-success-message&quot;}">
          <div class="form-content">

            <input id="emailTemplateSC" name="emailTemplate" type="hidden" value="cra-arc/yu-en"> <input type="hidden"
              name="language" value="eng">

            <input type="hidden" name="language" value="eng">
            <input type="hidden" name="subject" value="Request a case number - Yukon">

            <div class="form-group"><label for="yu-firstname" class="required"><span class="field-name">First name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="yu-firstname" name="yu-firstname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="yu-lastname" class="required"><span class="field-name">Last name of
                  contact</span> <strong class="required">(required)</strong></label><input class="form-control"
                data-rule-minlength="2" id="yu-lastname" name="yu-lastname" pattern=".{2,}" type="text"
                required="required"></div>

            <div class="form-group"><label for="yu-tel1" class="required"><span class="field-name">Phone number and area
                  code</span> <strong class="required">(required)</strong></label>
              <p>The phone number where the <abbr title="Canada Revenue Agency">CRA</abbr> can reach the contact named
                above</p>
              <input class="form-control" id="yu-tel1" name="yu-tel1" type="tel" autocomplete="tel"
                data-rule-phoneus="true" required="required">
            </div>

            <div class="form-group"><label for="yu-businessname" class="required"><span class="field-name">Business
                  name</span> <strong class="required">(required)</strong></label>
              <p>Legal name of the business.</p>
              <input class="form-control" data-rule-minlength="2" id="yu-businessname" name="yu-businessname"
                pattern=".{2,}" type="text" required="required">
            </div>

            <div class="form-group"><label for="yu-businessnumber"><span class="field-name">Business number
                  (BN)</span></label>
              <p>If you have a BN, it is required to expedite the process.</p>
              <input class="form-control" data-rule-minlength="2" id="yu-businessnumber" name="yu-businessnumber"
                pattern=".{2,}" type="text">
            </div>

            <div class="form-group">

              <label for="yu-contact" class="required"><span class="field-name">Do you want the CRA to phone the contact
                  named above?</span> <strong class="required">(required)</strong></label>

              <p>Indicate if you would like to receive a phone call.</p>

              <p>Note: Certain businesses will automatically be contacted by phone.</p>

              <select class="form-control" id="yu-contact" name="yu-contact" autocomplete="honorific-prefix"
                required="required">
                <option label="Select an option"></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>

              </select>

            </div>


            <input type="submit" value="Submit" class="btn btn-primary"><input type="reset" value="Reset"
              class="btn btn-default">
          </div>
        </form>

        <section class="alert alert-success mrgn-tp-lg yu-success-message hide mrgn-bttm-xl">
          <p class="h3 mrgn-tp-0">Your request has been submitted</p>
          <p>You have successfully submitted your request for an SR&amp;ED pre-claim approval case number.</p>
        </section>

      </div>


    </div>

    <h2>After completing the web form</h2>

    <p>The CRA will review the web form and contact you to either:</p>

    <ul class="list-unstyled cnjnctn-type-or cnjnctn-xs">
      <li class="cnjnctn-col">
        <p>Give you a case number and further instructions to apply for pre-claim approval</p>
      </li>
      <li class="cnjnctn-col">
        <p>Explain why you do not meet the criteria to apply for pre-claim approval</p>
      </li>

    </ul>

    <p>If you are an existing SR&ED claimant in good standing with the CRA, you will be contacted within
      <strong>2&nbsp;business days</strong> through <strong>My Business Account</strong>.
    </p>

    <p>All other businesses will be contacted within <strong>5&nbsp;business days</strong> by <strong>phone</strong>.
    </p>

  </div>
</div>